In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/celeba/train_original.csv')

In [3]:
df.head()

,Unnamed: 0,image_id,5_o_Clock_Shadow,Arched_Eyebrows,Attractive,Bags_Under_Eyes,Bald,Bangs,Big_Lips,Big_Nose,...,Straight_Hair,Wavy_Hair,Wearing_Earrings,Wearing_Hat,Wearing_Lipstick,Wearing_Necklace,Wearing_Necktie,Young,split,Target
0,0,000001.jpg,-1,1,1,-1,-1,-1,-1,-1,...,1,-1,1,-1,1,-1,-1,1,0.137514,1
1,1,000002.jpg,-1,-1,-1,1,-1,-1,-1,1,...,-1,-1,-1,-1,-1,-1,-1,1,-0.432273,1
2,2,000003.jpg,-1,-1,-1,-1,-1,-1,1,-1,...,-1,1,-1,-1,-1,-1,-1,1,1.841473,0
3,3,000004.jpg,-1,-1,1,-1,-1,-1,-1,-1,...,1,-1,1,-1,1,1,-1,1,-0.080797,1
4,4,000005.jpg,-1,1,1,-1,-1,-1,1,-1,...,-1,-1,-1,-1,1,-1,-1,1,1.045482,1

In [5]:
df["Male"]

0        -1
1        -1
2         1
3        -1
4        -1
         ..
162412   -1
162413   -1
162414    1
162415   -1
162416   -1
Name: Male, Length: 162417, dtype: int64

In [7]:
df["Male"].value_counts()

Male
-1    94816
 1    67601
Name: count, dtype: int64